<table class="table">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Unidades en stock</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products" class="align-middle">
      <td>
        <img src="{{product.imageUrl}}" alt="Product_image" height="50">
      </td>
      <td>{{product.name}}</td>
      <td>{{product.unitPrice | currency:'EUR'}}</td>
      <td>{{product.unitsInStock}}</td>
    </tr>
  </tbody>

</table>
